nav {
    background-color: #2D5C88;
}

a:link, a:visited {
    text-decoration: none;
}

span {
    position: absolute;
    width: 286px;
    height: 40px;
    left: 20px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

#span1 {
    color: #FFFFFF;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FF6F1E;
}