<div id="primary-card" class="card">
    <div class="card-header">
      LISTA DE PRODUCTOS
    </div>
    <div class="list-products">
        <ul class="list-group list-group-flush">
            <li class="card item-products"></li>
            <li class="card item-products"></li>
            <li class="card item-products"></li>
            <li class="card item-products"></li>
            <li class="card item-products"></li>
            <li class="card item-products"></li>
            <li class="card item-products"></li>
        </ul>
    </div>
    <div class="total_price">
        <h4>TOTAL:</h4>
        <span>$0</span>
    </div>
    <div>
        <button type="button" id="boton-calcular" class="btn btn-primary">CALCULAR</button>
    </div>
  </div>