<div class="row">
    <div class="col-4">
        <div id="primary-card" class="card">
            <div class="card-header">
            LISTA DE PRODUCTOS
            </div>
            <div class="list-products">
                <ul class="list-group list-group-flush">
                    <li class="card item-products"></li>
                    <li class="card item-products"></li>
                    <li class="card item-products"></li>
                    <li class="card item-products"></li>
                    <li class="card item-products"></li>
                    <li class="card item-products"></li>
                    <li class="card item-products"></li>
                </ul>
            </div>
            <div class="total_price">
                <h4>TOTAL:</h4>
                <span>$0</span>
            </div>
            <div>
                <button type="button" id="boton-calcular" class="btn btn-primary">CALCULAR</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <h1>Productos Destacados</h1>
        <div class="container mt-3 d-flex">
            <div *ngFor="let carta of ListProducts">
                <div class="card-body">
                    <div class="card-body" [routerLink]="['/inicio']">
                        <div class="card-title">
                            <img src="{{carta.url}}" alt="" width="350" height="350" >
                            <h2>{{carta.marca}}</h2>
                            <h2>{{carta.titulo}}</h2>
                            <h3>{{carta.precio}}</h3>
                        </div>
                    </div>
                    <button id="agregarboton" type="button" class="btn btn-primary">Agregar a la lista</button>
                </div>
            </div>
        <button id="vermas" type="button" class="btn btn-secondary">Ver más</button>
        </div>
    </div>
</div>